.navbar{
  width: 100%;
  font-family: 'Segoe Ui'
  background-color: #3e4247;
  color: white;
}

.navbar-brand{
  float: left;
  text-decoration: none;
  font-family: 'Pacifico';
  font-size: 19px;
  padding: 0.2em 0.7em;
  color white;
}

.navbar-nav{
  margin: 0%;
}

.navbar .navbar-nav .navitem{
  display: inline;
  list-style: none;
}

.navbar-nav .nav-item a{
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  padding: 0.9em 0.7em;
  color: black;
}

.toggle-collapse{
  float: right;
  width: 45px;
  height: 32px;
  margin: 0.4em 0.7em;
  background-color: transparent;
  color: rgba(232, 232, 232, 0.7);
  border: 1px solid rgb(232,232, 232, 0.3);
  border-radius: 3px;
  cursor: pointer;
  display: none;
}

.toggle-collapse:hover{
  color: rbg(232,232,232);
}

@media screen and (max-width: 456px){
  .navbar-brand{
    display: inline-block;
    float: none;
  }
  .toggle-collapse{
    display: inline-block;
  }
  .navbar-nav{
    color: white;
    padding: 0%;
  }
  .navbar-collapse{
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 0vh;
    transition: all 499ms ease;
  }
  .collapse{
    height: 100vh;
  }
}
